<div class="my-3 bg-white shadow-sm rounded-xl">
    <h6 class="p-3 mb-0 border-bottom border-gray"><i class="fa-regular fa-book-open-lines"></i> 发表论文</h6>
    <div class="px-3 pb-1">
        <style>
  @counter-style bracket {
    system: numeric; /* 使用数字系统 */
    prefix: '['; /* 前缀为左方括号 */
    suffix: '] '; /* 后缀为右方括号和空格 */
  }
  ol {
    list-style: none; /* 移除默认的列表样式 */
    counter-reset: item; /* 重置计数器 */
  }
  ol li {
    counter-increment: item; /* 增加计数器 */
  }
  ol li::before {
    content: '[' counter(item) '] '; /* 使用计数器生成方括号编号 */
    margin-right: 10px; /* 根据需要调整 */
  }
</style>
       <ol>
 <li> <b>Jiaxuan Li</b>, Qing Cao, He Wang, Zhigang Zhai, Xisheng Luo. New interface formation method for shock–interface interaction studies, Exp. Fluids, 64(11): 170, 2023</li>
<li> <b>Jiaxuan Li</b>, Zhigang Zhai. Modelling and mechanism of non-standard Richtmyer-Meshkov instability at a heavy-light interface. J. Fluid Mech., Accepted.</li>
<li> <b>Jiaxuan Li</b>, Chenren Chen, Zhigang Zhai, Xisheng Luo. Asymptotic matching modal theory and experiments on Richtmyer-Meshkov instability. J. Fluid Mech., 1002, A16, 2025</li>
<li> <b>Jiaxuan Li</b>, He Wang, Zhigang Zhai, Xisheng Luo. Richtmyer–Meshkov instability of a single-mode heavy–light interface in cylindrical geometry, Phys. Fluids, 35, 106112, 2023</li>
<li> <b>Jiaxuan Li</b>, Chenren Chen, Zhigang Zhai, Xisheng Luo. Effects of compressibility on Richtmyer-Meshkov instability of heavy/light interface. Phys. Fluids, 36, 056104, 2024</li>
<li> Qing Cao, <b>Jiaxuan Li</b>, He Wang, Zhigang Zhai, Xisheng Luo. Coupled Richtmyer–Meshkov and Kelvin–Helmholtz instability on a shock-accelerated inclined single-mode interface, J. Fluid. Mech., 996, A37, 2024</li>
<li> Chenren Chen, <b>Jiaxuan Li</b>, He Wang, Zhigang Zhai, Xisheng Luo. Effects of disturbed transmitted shock and interface coupling on heavy gas layer evolution, Phys. Fluids, 36, 086108, 2024</li>
<li> Chenren Chen, <b>Jiaxuan Li</b>, He Wang, Zhigang Zhai, and Xisheng Luo. Attenuation of Richtmyer-Meshkov instability growth of fluid layer via double shock, Sci. China-Phys. Mech. Astron. 68, 244711, 2025</li>
<li> Yinuo Xing, Chenren Chen, <b>Jiaxuan Li</b>, He Wang, Zhigang Zhai, and Xisheng Luo. Atwood-number dependence of the Richtmyer-Meshkov instability at a heavy-light single-mode interface, J. Fluid Mech. 1007, A54, 2025</li>
<li> Zhigang Zhai, Chenren Chen, Yinuo Xing, <b>Jiaxuan Li</b>, Qing Cao, He Wang, and Xisheng Luo. Manipulation of Richtmyer-Meshkov instability on a heavy-light interface via successive shocks, J. Fluid. Mech., 1003, A9, 2025</li>
    </ol>
    </div>
</div>
